:root {
	--dimension: 100vmin;
	--background: #21082c;
	--foreground: #f2dbf0;
}

@media screen and (orientation: portrait) and (min-width: 575px) {
	:root {
		--dimension: 575px;
	}
}

@media screen and (orientation: landscape) and (min-height: 575px) {
	:root {
		--dimension: 575px;
	}
}

body {
	position: fixed;
	margin: 0px;
	padding: 0px;
	width: 100vw;
	height: 100vh;
	background-color: var(--background);
}

#top-container {
	width: var(--dimension);
	height: var(--dimension);
	position: absolute;
	display: flex;
	flex-direction: column;
	inset: 0;
	margin: auto;
}

#harvey-canvas {
	flex: 9;
	align-self: center;
	border: 1px white solid;
}

#current-time {
	flex: 1;
	width: 100%;
	display: grid;
	place-items: center;
	color: var(--foreground);
}
